@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Schoolbell&family=Shadows+Into+Light+Two&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: poppins;
}
@layer utilities {
  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-start justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }
  /* container */
  .landing-section {
    @apply h-[100vh];
  }
  .containerLanding {
    @apply mx-40;
  }

  /* TYPOGRAPH */
  .type-nav {
    @apply text-[1.25rem] font-light text-white;
  }
  .type-hero {
    @apply text-[3rem] font-bold text-white drop-shadow-[0_4px_8.4px_rgba(0,0,0,17)] m-auto;
  }
  .type-subHero {
    @apply text-[1.25rem] leading-5 font-['Schoolbell'] text-orange-1 drop-shadow-[0_1px_1px_rgba(0,0,0,0.575)];
  }

  .italic-16 {
    @apply italic text-base font-light;
  }
  .bold-48 {
    @apply text-5xl font-bold drop-shadow-lg;
  }
  .bold-16 {
    @apply text-base font-bold;
  }
  .bold-20 {
    @apply text-xl font-bold;
  }
  .regular-b-20 {
    @apply text-xl font-['Reenie_Beanie'] font-medium text-orange-1;
  }
  .regular-16 {
    @apply text-base font-light;
  }

  .hero-bg {
    @apply bg-hero z-0 bg-cover bg-no-repeat bg-right;
  }

  .line {
    @apply border-l-2 h-1/3 mx-3;
  }
}
