@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Shadows+Into+Light+Two&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Schoolbell&family=Shadows+Into+Light+Two&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: poppins;
}
@layer utilities {
  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }
  .landing-section {
    @apply h-[100vh];
  }

  /* TYPOGRAPH */
  .type-nav {
    @apply text-[1.25rem] font-[300] text-white;
  }
  .type-hero {
    @apply text-[3rem] font-[700] text-white drop-shadow-[0_4px_8.4px_rgba(0,0,0,17)] m-auto;
  }
  .type-subHero {
    @apply text-[1.25rem] leading-5 font-['Schoolbell'] text-orange-1 drop-shadow-[0_1px_1px_rgba(0,0,0,0.575)];
  }

  .hero-bg {
    @apply bg-hero z-0;
  }
}
