@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Schoolbell&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Schoolbell&family=Shadows+Into+Light+Two&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: poppins;
}
@layer utilities {
  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-start justify-start;
  }

  .flexEnd {
    @apply flex items-end justify-center;
  }
  /* container */
  .landing-section {
    @apply h-[100vh] max-w-[100vw];
  }
  .containerLanding {
    @apply mx-40;
  }

  /* TYPOGRAPH */
  .type-nav {
    @apply text-[1.25rem] font-light text-white;
  }

  .type-subHero {
    @apply text-[1.25rem] leading-5 font-['Schoolbell'] text-orange-1 drop-shadow-[0_1px_1px_rgba(0,0,0,0.575)];
  }
  .italic-12 {
    @apply italic text-sm font-light;
  }
  .italic-16 {
    @apply italic text-base font-light;
  }
  .bold-48 {
    @apply text-5xl font-bold [text-shadow:_2px_5px_2.5px_rgba(0,0,0,0.25)];
  }
  .bold-30 {
    @apply text-3xl font-bold;
  }
  .bold-20 {
    @apply text-xl font-bold;
  }
  .bold-16 {
    @apply text-base font-bold;
  }
  .regular-b-60 {
    @apply text-6xl font-['Reenie_Beanie'];
  }
  .regular-b-48 {
    @apply text-4xl font-['Reenie_Beanie'] text-orange-1;
  }
  .regular-b-20 {
    @apply text-xl font-['Reenie_Beanie'] font-medium text-orange-1;
  }
  .regular-b-16 {
    @apply text-base font-['Reenie_Beanie'] font-medium text-orange-1;
  }
  .regular-24 {
    @apply text-2xl font-light;
  }
  .regular-16 {
    @apply text-base font-light;
  }
  .regular-12 {
    @apply text-sm font-extralight;
  }
  .regular-10 {
    @apply text-xs font-extralight;
  }

  .hero-bg {
    @apply bg-hero z-0 bg-cover bg-no-repeat bg-right;
  }
  .features-bg {
    @apply bg-featured z-0 bg-cover bg-no-repeat bg-right;
  }
  .footer-bg {
    @apply bg-footer bg-cover bg-no-repeat w-full;
  }
  .contactUs-bg {
    @apply bg-contactUs bg-cover bg-no-repeat;
  }
  .lineUp-bg {
    @apply bg-lineUp bg-cover bg-no-repeat;
  }
  .productLineUp-bg {
    @apply bg-productLineUp bg-cover bg-no-repeat;
  }

  .line-y {
    @apply border-l-2 h-1/3 mx-3;
  }
  .line-x {
    @apply border-b-2 my-4;
  }
}
